.formControl {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    flex-direction: row;
    direction: rtl;
    height: 49px;
    label {
      color: #122f61;
      font: 'Shabnam' normal;
      cursor: pointer;
      align-items: center;
      display: flex;
      // width: 115px;
      position: relative;
    };
    div{
 width: 100%;
 height: 100%
    };
    input {
      display: flex;
      justify-content: center;
      // flex: 60%;
      width: 100%;
      height: 100%;
      border: 0.3px solid #00000077;
      opacity: 0.5;
      padding: 10px;
      box-sizing: border-box;
      margin: 0;
     
      font-size: 0.85rem;
      font-family: 'anjoman';
      &:placeholder {
        width: 74px;
        height: 16px;
        font-family: 'anjoman';
        font-size: 0.85rem;
      }

      &:focus {
        border: 0.3px solid #00000077;
        outline: none;
      }
    }

    .validationError {
      display: flex;
      margin: 3px 141px 0 0;
      justify-content: flex-start;
      flex: 100%;
      font-family: 'Shabnam';
      font-size: 10px;
      text-align: center;
      color: #e4464b;
    }
  }