.detail {
  width: 71%;
  margin: 93px auto 50px;
  max-width: 707px;
}

.Inputs{
  display: grid;
  grid-template-columns:38% 38% 19.5% ;
  grid-template-rows: repeat(6,60px);
  width: 100%;
  margin-top: 45px;
  grid-column-gap: 16px;
  grid-row-gap: 10px;
}

input[ name="image-upload"]{
  display: none;
}
.label label{
  background-color:  #3770E2;
  padding: 10px 7px;
  color: white;
  font-weight: 800;
  font-size: 0.85rem;

}
.confirmMobile button{
  background-color:  #3770E2;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 0.85rem;
  padding: 10px 14px 10px 12px;
}

textarea {
  width: 100%;
  height: 49px;
  border-radius: 5px;
  opacity: 0.5;
  border: 0.3px solid #00000077;
  font-family: "anjoman";
  padding-right: 10px;
  vertical-align: middle;
  padding-top: 10px;
}

textarea:active{
  outline: none;
  border: 0.3px solid #00000077;
}
textarea:focus{
  outline: none;
  border: 0.3px solid #00000077;
}

.confirmMobile input{
  
  opacity: 0.5;
  flex: 1;
}
.confirmMobile button{
  font-family: "anjoman";
 height: 42px;
  margin-right: 7px;
  width: 99px;
  margin-top: 5px;
}



.firstName{
  grid-column: 1/2;
  grid-row: 1/2;
 
}
.lastName{
  grid-column: 2/3;
  grid-row: 1/2;
}
.uploadImage{
  grid-column: 3/4;
  grid-row: 1/3;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
border: 0.3px solid #000000;
border-radius: 5px;
  
}
.profileImage{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.phoneNumber{
  grid-column: 1/2;
  grid-row: 2/3;
}
.confirmMobile{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: flex-start;
}
.email{
  grid-column: 1/2;
  grid-row: 3/4;
}
.birthday{
  grid-column: 2/3;
  grid-row: 3/4;
  position: relative;
}
.birthday img{
  position: absolute;
  left: 10px;
  top: 15px;
}
.label{
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password{
  grid-column: 1/2;
  grid-row: 4/5;
  position: relative;
}
.passwordChracter{
  position: absolute;
  top: 15px;
  left: 10px;
}
.confirmPassword{
  grid-column: 2/4;
  grid-row: 4/5;
}
.address{
  grid-column: 1/4;
  grid-row: 5/6;
  
}
.postalcode{
  grid-column: 1/2;
  grid-row: 6/7;
}
.nationalCode{
  grid-column: 2/4;
  grid-row: 6/7;
}

.confirmInfo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
 
}
.confirmInfo p{
  font-size: 0.85rem;
  opacity: 0.5;
}
.confirmInfo img{
  margin-right: 5px;
}

.nextstep{
  background: #3770E2;
 width: 149px;
 height: 42px;
  border: none;
  color: white;
  font-weight: 800;
  font-family: "anjoman";
  font-size: 0.88rem;
  cursor: pointer;
}
.nextstep img{
  margin-right: 12px;
}
.error{
  font-size: 0.7rem;
  color: red;
}

@media(max-width:1230px){
  .detail{
    width: 80%;
  }
}
@media(max-width:1230px){
  .detail{
    width: 85%;
  }
}
@media(max-width:1040px){
  .detail{
    width: 88%;
  }
}

@media(max-width:1000px){
  .Inputs{
    display: grid;
    grid-template-columns: 48% 48%;
  }
  .uploadImage{
    display: none;
  }
  .label{
    display: none;
  }
  .firstName{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .lastName{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .phoneNumber{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .confirmMobile{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .email{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .birthday{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .password{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .confirmPassword{
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .address{
    grid-row:5/6 ;
    grid-column: 1/3;
  }
  .postalcode{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .nationalCode{
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

@media(max-width:768px){
  .detail{
    margin-top: 43px;
   padding: 0 54px;
  }
  .Inputs{
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows: repeat(8,60px) 134px repeat(2,60px);
    row-gap: 17px;
    
  }
  input,textarea{
    font-size: 14px;
  }

  .firstName{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .lastName{
    grid-column:1/2 ;
    grid-row: 2/3;
  }
  .phoneNumber{
    grid-column:1/2 ;
    grid-row: 3/4;
  }
  .confirmMobile{
    grid-column:1/2 ;
    grid-row: 4/5;
  }
  .email{
    grid-column:1/2 ;
    grid-row: 5/6;
  }
  .birthday{
    grid-column:1/2 ;
    grid-row: 6/7;
  }
  .password{
    grid-column:1/2 ;
    grid-row: 7/8;
  }
  .confirmPassword{
    grid-column:1/2 ;
    grid-row: 8/9;
  }
  .address{
    grid-column:1/2 ;
    grid-row: 9/10;
    height: 134px;
  }
  .address textarea{
    height: 100%;
  }
  .postalcode{
    grid-column:1/2 ;
    grid-row: 10/11;
  }
  .nationalCode{
    grid-column:1/2 ;
    grid-row: 11/12;
  }

  .confirmInfo p{
    display: none;
  }
  .confirmInfo{
    margin-bottom: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
  }
}

