.authsection_google button{
    display: flex;
    align-items: center;
}
.authsection_google button{
    background: transparent;
    cursor: pointer;
}
.authsection_google a {
    text-decoration: none;
}
