.completed_detailes {
  width: 71%;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
}

.completede_desc {
  position: relative;
  background: #3770e2;
  box-shadow: 0px 104px 80px rgba(55, 112, 226, 0.07),
    0px 43.4487px 33.4221px rgba(55, 112, 226, 0.0503198),
    0px 23.2298px 17.869px rgba(55, 112, 226, 0.0417275),
    0px 13.0224px 10.0172px rgba(55, 112, 226, 0.035),
    0px 6.91611px 5.32008px rgba(55, 112, 226, 0.0282725),
    0px 2.87795px 2.21381px rgba(55, 112, 226, 0.0196802);
  border-radius: 26px;
  height: 119px;
  display: flex;
  justify-content: flex-start;
  padding-right: 30px;
  align-items: center;
}
.completede_desc p {
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.completede_desc img {
  position: absolute;
  left: -3%;
  top: -90%;
}

.completed_detailes_sectionTow {
  background-color: rgba(232, 232, 232, 0.5);
  border-radius: 27px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 35px;
  
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows: 48% 48%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  position: relative;
  justify-content: center;
}
.circle {
  width: 162px;
    height: 132px;
  grid-column: 1/2;
  grid-row: 1/3;
  position: absolute;
  bottom: 5px;
}
.epmty {
  position: absolute;
  width: 15px;
  height: 12px;
  background-color: white;
  top: 15px;
  right: 40%;
  border-radius: 50%;
  position: absolute;
}
.cricular_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contract {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descdiv {
  margin-right: 14px;
  border: none;
  background: #3770e2;
  border-radius: 27px;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 169px;
  flex-shrink: 0;
}
.descdiv span {
  margin-left: 8px;
  display: inline-block;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
}
.meeting {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.begainButton {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 22px;
  color: #3770e2;
  background: transparent;
  font-family: "anjoman";
}
.begainButton img {
  margin-right: 12px;
}
.pridication {
  font-weight: 900;
  font-size: 1.25rem;
  margin-top: 46px;
}
.completed_detailes_sectionThree {
  display: flex;
  margin-top: 34px;
  flex-wrap: wrap;
}
.eachDocs {
  background: #3770e2;
  padding: 10px 10px;

  box-shadow: 0px 104px 80px rgba(55, 112, 226, 0.07),
    0px 43.4487px 33.4221px rgba(55, 112, 226, 0.0503198),
    0px 23.2298px 17.869px rgba(55, 112, 226, 0.0417275),
    0px 13.0224px 10.0172px rgba(55, 112, 226, 0.035),
    0px 6.91611px 5.32008px rgba(55, 112, 226, 0.0282725),
    0px 2.87795px 2.21381px rgba(55, 112, 226, 0.0196802);
  border-radius: 27px;
}
.eachDocs p {
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
}
.docs1{
  margin-bottom: 10px;
  flex-shrink: 0;
}
.docs2 {
  margin-right: 11px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.docs3 {
  margin-right: 11px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.docs4 {
  margin-right: 11px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.docs5 {
  margin-right: 11px;
  flex-shrink: 0;
}
.adjustbtn {
  font-family: Anjoman;
  font-style: normal;
  font-weight: 800;
  font-size: 8px;
  line-height: 13px;
  margin-top: 13px;
  color: #3770e2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adjustbtn img {
  margin-right: 5px;
}
.completed_detailes_sectionFour {
  background: linear-gradient(264.38deg, #0938df 0.25%, #3770e2 94.42%);
  border-radius: 27px;
  padding: 30px 50px;
  position: relative;
  margin-top: 128px;
}
.raise_acount {
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
}
.purchaseAcount_services {
  display: flex;
  margin-top: 22px;
}
.purchaseAcount {
  position: relative;
}
.startup {
  margin-right: 52px;
  display: flex;
  flex-direction: column;
}
.startup_purchase {
  background: transparent;
  border: none;
  font-family: "anjoman";
  font-weight: 800;
  font-size: 11px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.startup_price {
  background-color: #ffffff;
  padding: 6px 10px;
  color: #3770e2;
  font-weight: 800;
  font-size: 8px;
  line-height: 13px;
  border-radius: 27px;
  margin-top: 8px;
}
.rocket {
  position: absolute;
  right: -80%;
  top: -17%;
}
.services {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.createTeam {
  display: flex;
}
.createTeam p {
  margin-right: 10px;
  font-size: 11px;
  line-height: 17px;

  color: #ffffff;
}
.adjustDocs {
  display: flex;
  margin-top: 10px;
  font-size: 11px;
  line-height: 17px;
  color: #ffffff;
}
.adjustDocs p {
  margin-right: 10px;
}
.smileImage {
  position: absolute;
  left: 3%;
  bottom: 20%;
  width: 198px;
  height: 198px;
}
.smileImage img {
  width: 100%;
}
.number{
font-weight: 900;
font-size: 14px;
}
.day{
  font-weight: 900;
  font-size: 14px;
}

@media(max-width:1310px){
  .completed_detailes{
    width: 75%;
  }
}
@media(max-width:1300px){
  .completed_detailes{
    width: 80%;
  }
}
@media(max-width:1200px){
  .completed_detailes{
    width: 85%;
  }
  .completede_desc{
    padding-right: 50px;
  }
  .completede_desc img{
    left: 1%;
  }

  .completede_desc p{
    font-weight: 800;
    font-size: 1.15rem;
  }
}
@media(max-width:1100px){
  .completede_desc p{
    font-weight: 800;
    font-size: 1.1rem;
  }
  .completede_desc{
    padding-right: 30px;
  }
  .completede_desc img{
    left: -1%;
  }

  .circle{
    width: 150px;
    height: 120px;
  }
  .completed_detailes_sectionTow{
    grid-template-columns: 24% 30% 30%;
    grid-column-gap: 27px;
  }
  
}
@media(max-width:1050px){
  .descdiv{
    width: 160px;
  }
  
}


@media(max-width:1000px){
  .completede_desc p{
    font-weight: 800;
    font-size: 0.95rem;
  }
  .descdiv{
    width: 140px;
  }
  .circle{
    width: 115px;
    height: 96px;
    margin-right: 0;
  }
  .completed_detailes_sectionTow{
    grid-template-columns: 22% 30% 30%;
    grid-column-gap: 29px;
    grid-row-gap: 10px;
  }
  .number{
    font-size: 12px;
  }
  .day{
    font-size: 12px;
  }
  
}
@media(max-width:950px){
 .smileImage img{
  width: 189px;
    height: 165px;
 }
 
  
}

@media(max-width:900px){
  .completed_detailes_sectionTow{
    grid-template-columns: 21% 31% 31%;
    grid-column-gap: 27px;
    grid-row-gap: 10px;
  }
  .circle{
    width: 113px;
    height: 97px;
  }
  .descdiv{
    width: 130px;
    margin-right: 10px;
  }
  .completede_desc p{
    font-weight: 800;
    font-size: 0.8rem;
  }
  
}

@media(max-width:850px){
  .smileImage img{
   width: 160px;
   height: 162px;
  }
  .startup_purchase{
    font-size: 10px;
  }
  .raise_acount{
    font-weight: 800;
    font-size: 18px;
  }
  .completed_detailes_sectionFour{
    padding: 30px 35px;
  }

  .smileImage{
    left: -3%;
  }
  .createTeam{
    font-size: 10px;
  }
  .adjustDocs{
    font-size: 10px;
  }
  
   
 }
@media(max-width:800px){
  .completede_desc{
    padding-right: 20px;
  }
  .completede_desc img{
    left: -1%;
  }
  .circle{
    width: 113px;
    height: 97px;
  }
  .descdiv{
    width: 130px;
    margin-right: 10px;
  }
  .completede_desc p{
    font-weight: 800;
    font-size: 0.75rem;
  }
  
}
@media(max-width:768px){
  .completede_desc{
    width: 70%;
    margin: auto;
  }

  .completed_detailes{
    width: 100%;
    margin-top: 130px;
  }
  .completede_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 25px;
    padding-top: 46px;
  }
  .completede_desc p{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }
  .completede_desc img{
    right: -14%;
    top: -141%;
  }

  .completed_detailes_sectionTow{
    grid-template-columns: 1fr;
    grid-template-rows:152px repeat(4,36px);
      grid-row-gap: 24px;
      background:transparent;
      width: 70%;
      margin: auto;
      margin-top: 50px;
  }
  .circle{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: red;
    width: 100%;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #E8E8E8;
    height: 100%;
  }
  .progress_container{
    width: 181px;
    height: 150px;
    top: -27%;
    position: absolute;
  }
  .contract{
    grid-column: 1/2;
    grid-row: 2/3;
    
  }
  .signature{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .meeting{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .begainButton{
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
  }
  .descdiv{
    width: 169px;
  }
  .pridication p{
    text-align: center;
  }
  .adjustbtn{
    display: none;
  }
 .completed_detailes_sectionThree{
  display: flex;
  margin-top: 34px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: 30px;
  padding-right: 30px;
 }
 .completed_detailes_sectionFour{
   width: 80%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 159px;
 } 
 .services{
   display: none;
 }
 .smileImage{
  left: -17%;
  bottom: -63%;
 }
  
}

@media(max-width:600px){
  .completede_desc img{
    right: -20%;
    top: -141%;
  }
}
@media(max-width:500px){
  .completede_desc img{
    right: -25%;
    top: -141%;
  }
}
@media(max-width:400px){
  .completede_desc img{
    right: -30%;
    top: -141%;
  }
}

