.main_contract_info{
    margin-top: 31px;
    position: relative;
    margin-bottom: 100px;
}

.select{
    display: flex;
    margin-top: 25px; 
}

.select_container{
    margin-right: 42px;
    display: flex;
    background: rgb(232, 232, 232,0.5);
    width: 100%;
    padding: 21px 30px 22px 30px;
    border-radius: 27px;
  align-items: center;

}
.emptySpaace_container{
   flex: 2; 
}
.selectedAnswers{
    display: flex;
    flex: 1;
    margin-right: 30px;
    justify-content: space-around;
}
.emptySpace{
    display: flex;
    margin-top: 25px;
}

.emptySpace_input{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background:rgb(232, 232, 232,0.5) ;
    padding: 20px 15px 22px 30px;
    border-radius: 27px;
    align-items: center;
    margin-right: 42px;
}
.emptySpace_input p{
    margin-right: 10px;
}

.emptySpace_input input{
    width: auto;
    margin: 10px 10px 0 0;
    padding: 5px;
}
.text{
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.text_title{
    background:rgb(232, 232, 232,0.5) ;
    padding: 20px 29px 22px 30px;
    border-radius: 27px;
    margin-right: 42px;
    width: 100%;
}
.QA{
    display: flex;
    width: 100%;
    margin-top: 25px; 
}
.QA_container{
    margin-right: 42px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: rgb(232, 232, 232,0.5);
    padding: 21px 30px 22px 30px;
    border-radius: 27px;
}
.QA_textarea{
    margin-top: 10px;
}

.SQA{
    display: flex;
    width: 100%;
    margin-top: 25px; 
}
.SQA_container{
    margin-right: 42px;
    display: flex;
    flex: 1;
  justify-content: space-between;
    background: rgb(232, 232, 232,0.5);
    padding: 21px 30px 22px 30px;
    border-radius: 27px;
    align-items: center;
    
}

.btn{
   background: #3770E2;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.firstElemnt{
   background: #3770E2;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.border{
    position: absolute;
    height: 100%;
    width: 1px;
    opacity: 0.3;
    background-color: #3770E2;
    margin: 0 20px 0 0;
    z-index: 1;
}
.contract_input{
    height: 25px;
    border: 0.25px solid #000000;
    opacity: 0.25;
    
}
.finished_contract{
    margin-top: 76px;
    display: flex;
    align-items: flex-end;
}
.confirm_contract{
    background: #3770E2;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    z-index: 2;
   
}
.get_contract_container{
    display: flex;
    margin-right: 25px;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 10px;

}
.get_contract_btn{
    background: transparent;
    border: none;
    cursor: pointer;
}
.get_contract_btn span{
    font-weight: 800;
font-size: 14px;
line-height: 22px;
color: #3770E2;
}
.get_contract_btn img{
    margin-right: 10px;
}
.hr{
    margin-top: 10px;
    opacity: 0.08;
border: 1px solid #000000;
}
