.contactIssues{
    grid-template-columns: 30% 70%;
    display: grid;
}

.profilesection{
    grid-column: 1/2;
    background-color: #E5E5E5;
    border-left: 0.35px solid #00000028;
}
.contactIssues_info{
    grid-column: 2/3; 
    
}

@media(max-width:768px){
    .contactIssues{
        display: flex;
        flex-direction: column;
    }
}