.react-select__control{
    height: 49px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
}
.react-select__value-container{
    height: 49px;
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
}
.react-select__placeholder{
      padding-bottom: 9px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    opacity: 0.5;
    font-size: 12px;
}
@media(max-width:1300px){
    .react-select__placeholder{
      
      font-size: 8px;
      font-weight: 700;
  }
}