
.doc_question{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 31px;
    text-align: right;
    margin-top: 30px;
    color: #000000; 
}


 @media(max-width:768px){ 
     .main_content{
         padding: 0 50px;
     }
 
 }
 @media(max-width:468px){
    .main_content{
        padding: 0 20px;
    }
   
}

