.profile {
  display: flex;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
  width: 120px;
}
.image {
  width: 100%;
  border-radius: 50%;
}
.editProfile {
  background-color: blue;
  width: 28px;
  padding: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.userName {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}
.userName p {
  font-weight: 800;
  font-size: 1.12rem;
}
.icons {
  display: flex;
  margin-top: 10px;
}
.search {
  margin-right: 15px;
}
.bill {
  position: relative;
}
.empty {
  position: absolute;
  padding: 3px;
  background-color: red;
  bottom: 15px;
  border-radius: 50%;
}

.progress_bar {
  display: flex;
  margin-top: 22px;
  background: #ffffff;

  height: 1.8rem;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.progressPersentage {
  height: 1.8rem;
  background: linear-gradient(267.24deg, #ffffff -37.62%, #3770e2 67.93%);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}
.compoletedprogress {
  font-weight: 400;
  margin-top: 13px;
  margin-left: 20px;
  text-align: center;
}
.menubar {
  display: none;
}

@media (max-width: 989px) {
  .image_container {
    width: 97px;
  }
  .editProfile {
    bottom: 20px;
  }
}
@media (max-width: 900px) {
  .image_container {
    width: 97px;
  }
  .userName p {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (max-width: 830px) {
  .image_container {
    width: 70px;
  }
  .editProfile {
    bottom: 20px;
    width: 21px;
    height: 26px;
  }
  .userName p {
  
    font-weight: 600;
  }
  .userName {
    margin-top: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .prfileImage_main{
    padding-top: 22px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .profile {
    display: flex;
    width: 100%;
  }
  .progress_bar{
    height: 30px;
  }

  .image_container{
    width: 58px;
    height: 58px;
  }
  .editProfile{
    display: none;
  }

  .userName p{
    font-weight: 800;
  font-size: 1.12rem;
  }
  .menubar{
    display: inline-block;
    margin: auto;
  }
}
