*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}

@font-face {
    font-family: "anjoman";
    src: url(./asstes/anjoman/Anjoman-Medium.ttf);
  }

  p,input,button,span{
      font-family: "anjoman";
  }
  
  .App{
    font-family: "anjoman";
    min-height: 100vh;
  }

  
@media(min-width:1440px){
 .App{
   max-width: 1440px;
   margin: 0 auto;
 }
}
.MuiStepConnector-vertical{
 display: flex;
 flex-direction: row-reverse;
 
}
.MuiStepConnector-line{
  color: blue;
  width: 3px;
}
