*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}

:root{
  --primary-color:rgba(232, 232, 232, 0.25);
  --secondary-color:rgb(232, 232, 232,0.5);
  --font-primary:#3770E2;
  --image-background:#3770E2;
  --font-secondary:#ffffff;
}



@font-face {
    font-family: "anjoman";
    src: url(./asstes/anjoman/Anjoman-Medium.ttf);
  }

  p,input,button,span{
      font-family: "anjoman";
  }

  a{
    text-decoration: none;
    color: rgb(51, 49, 47);
    display: block;
    margin-top: 10px;
  }
  
  .App{
    font-family: "anjoman";
    min-height: 100vh;
  }

  
@media(min-width:1440px){
 .App{
   max-width: 1440px;
   margin: 0 auto;
 }
}
